* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}


/* .box1{
        background:url(img/bg1.jpg) no-repeat;
        width: 100%;
    height: 800px;
    background-size: cover;
}

.box1>h1{
    text-align: center;
    color:#fff;
    font-size: 50px;
   line-height: 600px;
   text-shadow: 3px 3px 10px #000;
} */
.after:after {
    clear: both;
    content: "";
    display: block;
}

.header {
    position: fixed;
    z-index: 444;
}

.header>div {
    float: left;
    padding-top: 20px;
}

.logo>h1 {
    color: #fff;
    text-shadow: 2px 2px 10px #555;
    font-size: 30px;

}

.flex {
    display: flex;

}

.icons {
    position: absolute;
    right: -500%;
    top: 0;
}


.icons>a {
    font-size: 25px;
    display: block;
    margin-left: 20px;
    color: #fff;
    text-align: center;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    border: 1px solid#fff;
    text-shadow: 2px 2px 10px #555;
    box-shadow: 2px 2px 10px #555;
}

.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container .slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
    animation: animate 10s linear infinite;
}

.container .slider .slide {
    position: relative;
    width: 20%;
    height: 100%;
    float: left;
}

.container .slider .slide .caption {
    position: absolute;
    bottom: 60px;
    left: 60px;
    right: 60px;
    padding: 30px;
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    transition: 0.5s;
}

.container .slider .slide .caption h2 {
    margin: 0 0 20px;
    padding: 0;
    color: #fff;
    font-size: 48px;
    transition: 0.5s;
}

.container .slider .slide .caption p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 18px;
}

.container .slider .slide.slide1 {
    background: url(img/bg1.jpg) center;
    background-size: cover;
}

.container .slider .slide.slide2 {
    background: url(img/img5.jpg) center;
    background-size: cover;
}

.container .slider .slide.slide3 {
    background: url(img/bg3.jpg) center;
    background-size: cover;
}

.container .slider .slide.slide4 {
    background: url(img/img9.jpg) center;
    background-size: cover;
}



.box2>div {
    float: left;
    width: 50%;
    height: 500px;
    background-size: cover;
    padding: 40px;
}

.box2>div>h3 {
    color: cadetblue;
}

.box2>div>p {
    padding: 40px 0;
}

.btn {
    text-align: center;
    width: 130px;
    padding: 10px;
    border: 1px solid red;
    cursor: pointer;
}

.box2-1 {
    background: url(img/img3.jpg) no-repeat center;
}

.box2-4 {
    background: url(img/img4.jpg) no-repeat center;
}

.box2-5 {
    background: url(img/img6.jpg) no-repeat center;
}

.box3 {
    display: flex;
}

.box3>div {
    width: 25%;
    height: 500px;
    background-size: cover;
}

.box3-1 {
    background: url(img/pic1.jpg) no-repeat;
}

.box3-2 {
    background: url(img/pic2.jpg) no-repeat;
}

.box3-3 {
    background: url(img/pic3.jpg) no-repeat;
}

.box3-4 {
    background: url(img/pic4.png) no-repeat;
}

.box4>h3,
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.box4>h3 {
    color: tomato;
    margin-top: 50px;
}

.box4>.imgbox {
    margin: 0 auto;
    width: 1240px;
    height: 630px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgbox>div {
    width: 32%;
    height: 300px;
    background-size: cover;
}

.box4-1 {
    background: url(img/img11.jpg) no-repeat;
}

.box4-2 {
    background: url(img/img12.jpg) no-repeat;
}

.box4-3 {
    background: url(img/img13.jpg) no-repeat;
}

.box4-4 {
    background: url(img/img14.jpg) no-repeat;
}

.box4-5 {
    background: url(img/img15.jpg) no-repeat;
}

.box4-6 {
    background: url(img/img7.jpg) no-repeat;
}

.box5 {
    height: 700px;
    background: url(img/bg4.png) no-repeat;
    background-size: cover;
    margin-top: 40px;
}

.formBx {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0 auto;
}

.formBx h3 {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    margin-top: 90px;
    margin-bottom: 40px;
    text-align: center;
}

.formBx input,
.formBx textarea {
    max-width: 100%;
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #fff;
    /* color:#555; */
    /* resize: none; */
}

.formBx textarea {
    min-height: 200px;
}

.formBx input::placeholder,
.formBx textarea::placeholder {
    color: #999;
}

.formBx input[type="submit"] {
    max-width: 100%;
    background: pink;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@keyframes animate {
    0% {
        left: 0;
    }

    20% {
        left: 0;
    }

    25% {
        left: -100%;
    }

    45% {
        left: -100%;
    }

    50% {
        left: -200%;
    }

    70% {
        left: -200%;
    }

    75% {
        left: -300%;
    }

    95% {
        left: -300%;
    }

    100% {
        left: -400%;
    }
}



@media(max-width:768px) {

    .container .slider .slide .caption {
        bottom: 20px;
        left: 20px;
        right: 20px;
        padding: 20px;
    }

    .container .slider .slide .caption h2 {
        margin: 0 0 10px;
        font-size: 30px;
    }

    .container .slider .slide .caption p {
        font-size: 16px;
    }

}